# Environment variables
.env
**/.env

# IDE
.idea/
*.iml
.vscode/

# Build directories
**/target/
**/build/
**/dist/
**/dist_keycloak/
**/node_modules/
keycloak-theme/public/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment files
.env
**/.env
